@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Work+Sans:wght@100;200&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
