@import 'reset';

section {
	width: 70vw;
	margin: 10vh auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	article {
		width: 30%;
		padding: 1rem;
		background: #fff;
		margin-bottom: 3rem;
		box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

		.pic {
			width: 100%;
			height: 20vw;
			margin-bottom: 1rem;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		h2 {
			font: 200 2rem 'work sans';
			color: #333;
			margin-bottom: 0.7rem;
		}
		p {
			font: 0.8rem 'arial';
			color: #555;
			margin-bottom: 30px;
		}
	}
}
